:root{
    --color-primary: #e2e2e2;
    --color-primary-variant: #20A195;
    --color-black: #000000;
    --color-dark: #62656a;
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.8);

    --width: 84%;
    --mobile-width: 92%;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    color: var(--color-dark);
    background: var(--color-primary);
   
}

.container {
    width: var(--width);
    margin: 0 auto;
    max-width: 100%; 
    padding: 0 1rem;
}



img {
    width: 100%;
}

a {
    color: var(--color-black);
    transition: all 300ms ease;
}



.btn {
    padding: 1rem 2rem; 
    border-radius: 3rem; 
    font-weight: 500;
    background: var(--color-black);
    color: var(--color-white);
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-black);
    border: 1px solid var(--color-black);
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
}

section {
    max-width: 100vw;
    padding: 12rem 0 0;
}



/* ================= nav ============= */

nav {
    width: 100vw;
    height:5rem;
    display: grid;
    place-items: center;
    background: none;
    background-color: #20A195;
    z-index: 2;
    
    }
    
    nav button {
        display: none;
    }
    
    nav .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    nav .container ul {
        display: flex;
        gap: 3rem;
        
    }
    
    nav .container ul a {
        padding: 0 0 0.3rem;
    }
    
    
    nav a:hover {
        color: #ffffff;
    }
    
    nav .icons {
        display: flex;
        gap: 2rem;
        font-size: 4rem;
        color: #ffffff;
        
    }


    
    nav .icons i{
        color: #ffffff;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.10));
    }
    
    nav i{
        font-size: 4cap;
        color: #fff;
        filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.10));
    }

    nav i:hover{
        color: #000000;
    }


    nav .logo {
        display: flex;
        width: 7%;
        
    }

    .fotodeperfil{
        width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    overflow: hidden; 
    }

    


    .left-section {
        width: 20%; 
        height: 200vh; 
        background: linear-gradient(to right, #20A195, #20A195); 
        float: left;
    }

 .comu_pesquisa input{
        margin-top: 10%;
        margin-left: 7%;
      font-family: 'Poppins', sans-serif;
width: 80%;
height: 30px;
padding:3%;
border: none;
border-radius: 6px;
background-color: #D9D9D9;
    }

.comu_pesquisa i{
    font-size: 20px;
    color: #000000;
    margin-left: -13%;
  
}

.comu_comunidades{
    margin-top: 10%;
    margin-left: 7%;
    color: #fff;
}
.comu_comunidades li{
    margin-top: 20%;
    color: #fff;
}

.comu_comunidades li:hover{
    color: #000000;
}




.message-input {
    position: fixed;
    bottom: 0;
    font-family: 'Poppins', sans-serif;
    right: 0;
    width: 1000px;
    background-color: #fff;
    border: none;
    padding: 1.5%;
    border-radius: 10px;
    margin-right: 5%;
    margin-bottom: 2%;
}

.send-button{
    position: fixed;
    font-family: 'Poppins', sans-serif;
    bottom: 0;
    right: 0;
    width: 50px;
    background-color: #20A195;
    border: none;
    padding: 1%;
    border-radius: 10px; 
    margin-right: 1%;
    margin-bottom: 2.5%;
cursor: pointer;
    color: #fff;
}

.titul{
margin-top: 10px;
 color: #20A195;
 font-size: 160%;
 margin-left: 21%;
}

.chat1 {
 
    margin-top: 1.5%;
}

.postar {
    position: fixed;
    bottom: 0;
    right: 0;
  
   
   
    z-index: 999; /* Garante que a seção fique acima de outros elementos */
}

.usuario_divulgacao{
display: none;
}

.usuario_divulgacao2{
    margin-top: 3%;
    font-family: 'Poppins', sans-serif;
    width: 600px;

    padding: 3%;
    border: none;
    border-radius: 6px;
    background-color: #ffffff;
    }

    .postar button{
        border: none;
        border-radius: 7px;
     margin-left: 85%;
      
        background-color: #20A195;
        color: #fff;
        padding: 1% 2%;
        width: 15%;
        font-size: 100%;
        font-weight: 700;
        cursor: pointer;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
        
    }

   

    .mensagens-geral{
        padding: 0;
        margin-top: 3%;
        
    }

    .mensagens-usu{
        color: #20A195;
        font-weight: 700;
        
        
    }

    .mensagens-men{
        color: #000000;
        margin-bottom: 2%;
        
    }

    .mensagens-img{
       border-radius: 10px;
        width: 40%;
        margin-bottom: 2%;
        margin-top: -2%;
       
      
    }

    .editar{
        border: none;
        border-radius: 7px;
     margin-top: 2%;
    
        background-color: #20A195;
        color: #fff;
        padding: 0.5%;
        width: 4%;
        font-size: 70%;
        font-weight: 700;
        cursor: pointer;
        box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
       
    }


