<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunidades</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fira+Code:wght@300&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Shrikhand&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">


    <link rel="stylesheet" href="/css/comunidades_artesvisuais.css">
</head>
<body>
    <nav>

        <div class="container">

            
            <a href="/home" class="logo"><img src="/img/logo_ziuu.png" alt=""></a>
             
            <ul>
                <li><a href="/home" ><i class="uil uil-estate"></i></a></li>
                <li><a href="/divulgacao"><i class="uil uil-plus-circle"></i></a></li>
                <li><a href="/comunidades"><i class="uil uil-comment"></i></a></li>
                
            </ul>

            <div class="cadastro">
                <a href="/perfil"><img src="/img/fotodeperfil2.png" alt=""  class="fotodeperfil"></a> <!--foto-->
            </div>
            
            
        </div>


    </nav>

    <div class="left-section">
        <div class="comu_pesquisa">
          <input type="search" placeholder="Pesquisar...">
          <i class="uil uil-search"></i>
        </div>

       <div class="comu_comunidades">
         <h3>Comunidades</h3>
         <ul>
            <a href="/comunidades_artesvisuais"><li>#artesvisuais</li></a>
            <a href="/comunidades_musicas"><li>#musicas</li></a>
            <a href="/comunidades_artedigital"><li>#artedigital</li></a>
            <a href="/comunidades_artesanato"><li>#artesanato</li></a>
            <a href="/comunidades_audiovisual"><li>#audiovisual</li></a>
         </ul>

        </div>
    </div>

    <div class="titul">
        <h3>Artes visuais</h3>

    </div>

    <div class="input-container">
        <input type="text" placeholder="Digite sua mensagem..." class="message-input">
        <button class="send-button">Enviar</button>
    </div>
</body>
</html>