<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comunidades</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fira+Code:wght@300&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Shrikhand&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">


    <link rel="stylesheet" href="/css/comunidades_artesvisuais.css">
</head>
<body>
    <nav>

        <div class="container">

            
            <a href="/home" class="logo"><img src="/img/logo_ziuu.png" alt=""></a>
             
            <ul>
                <li><a href="/home" ><i class="uil uil-estate"></i></a></li>
                <li><a href="/divulgacao"><i class="uil uil-plus-circle"></i></a></li>
                <li><a href="/comunidades"><i class="uil uil-comment"></i></a></li>
                
            </ul>

            <div class="cadastro">
                <a href="/perfil"><img src="/img/fotodeperfil2.png" alt=""  class="fotodeperfil"></a> <!--foto-->
            </div>
            
            
        </div>


    </nav>

    <div class="left-section">
        

       <div class="comu_comunidades">
         <h3>Comunidades</h3>
         <ul>
            <a href="/comunidades_artesvisuais"><li>#artesvisuais</li></a>
            <a href="/comunidades_musicas"><li>#musicas</li></a>
            <a href="/comunidades_artedigital"><li>#artedigital</li></a>
            <a href="/comunidades_artesanato"><li>#artesanato</li></a>
            <a href="/comunidades_audiovisual"><li>#audiovisual</li></a>
         </ul>

        </div>
    </div>

    <div class="titul">
        <h3>Arte digital</h3>

    </div>

    <section class="postar">
        <form action="" method="post" enctype="multipart/form-data">
            <div>
                <img src="" alt="">
                <input class="usuario_divulgacao" type="text" value="" name="usuario_divulgacao" autocomplete="off">
            </div>
            <div>
                <input class="usuario_divulgacao" type="text" value="" name="titulo_divulgacao" id="" placeholder="Divulge..." autocomplete="off">
            </div>
            <div class="img_post">
                <input class="img_divulgacao" type="file" name="img_divulgacao" autocomplete="off">
                <button>Enviar</button>
            </div>
        </form>
   </section>

</body>
</html>