<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina inicial</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fira+Code:wght@300&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Shrikhand&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/home.css">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    
</head>
<body>
    <nav>

        <div class="container">
            <a href="/home" class="logo"><img src="/img/logo_ziuu.png" alt=""></a>
             
            <ul>
                <li><a href="/home" ><i class="uil uil-estate"></i></a></li>
                <li><a href="/divulgacao"><i class="uil uil-plus-circle"></i></a></li>
                <li><a href="/comunidades"><i class="uil uil-comment"></i></a></li>
                
                
            </ul>

            <div class="cadastro">
              <a href="/usuario"><img src="/img/fotodeperfil2.png" alt=""  class="fotodeperfil"></a>
            </div>
            
            
        </div>

    </nav>

    <header>
        <div class="container">
            <h1><span class="ziuu">ZIUU </span>conecta artistas e amantes da cultura <span class="bra">bra</span><span class="sile">sile</span><span class="ira">ira</span></h1>
        </div>

        
    </header>
    

<section class="divulgacao">
    <div class="divulgacao-home">
        <h2>Conheça os protagonistas da cultura brasileira e suas incríveis jornadas artísticas.</h2>
    </div>
     
      <a href="/divulgacao"><input type="button" value="Divulgações" class="divul_botao"></a>

    <div class="img-celular">
       <img src="img/celular_home.png" alt=""> 
    </div>
    
    <div class="post-home1">
        <img src="img/postagem_home.png" alt="">
    </div>
    <div class="post-home2">
        <img src="img/postagem2_home.jpg" alt="">
    </div>
       
</section>

<section class="comunidade">
    <div class="comunidade-home">
        <h2>Descubra, conecte-se e explore as comunidades vibrantes dos assuntos brasileiros.</h2>
    </div>

    <div class="comunidades-principal">
        <div class="filme">
        <a href="/divulgacao"><h4>Filmes</h4>
            <p>mostre os melhores filmes.</p>
            <img src="img/claquete_home.png" alt=""></a>
       
        </div>

        <div class="musica">
            <a href="/divulgacao"><h4>Musicas</h4>
                <p>compartilhe sua musicas favoritas.</p>
                <img src="img/violao_home.png" alt=""></a>
           
            </div>

            <div class="livro">
                <a href="/divulgacao"><h4>Livros</h4>
                    <p>Fale sobre livros nacionais que você leu.</p>
                    <img src="img/livro_home.png" alt=""></a>
               
                </div>
    </div>

</section>

<section class="tudo">

<div class="tudo-home">
<h2>Escolha o melhor para você:</h2>
</div>

<div class="tudo-divulgacao">
<a href="/divulgacao"> <img src="img/tudohome.png" alt="">
            <h3>Divulgação</h3>
            <p>Área feita para artistas que querem um lugar para divulgar sua artes.</p>

</a>
</div>

</div>

<div class="tudo-comunidade">
<a href="/comunidades"> <img src="img/tudohome.png" alt="">
            <h3>Comunidades</h3>
            <p>Área feita para o publico ter mais contato com a arte e mídia brasileira, através de chats online  </p>

</a>
</div>

</section>

<footer>
    <div class="contato">
       <h3>Contato:</h3>
       <p>ziuu@gmail.com</p>
    </div>

    <a href="/adm"><i class="uil uil-setting"></i></a></li>

    <div class="logo-footer">
        <a href="/home" ><img src="/img/logo_ziuu.png" alt=""></a>
    </div>
</footer>


<script src="js/home.js"></script>
</body>
</html>