<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Form</title>
  <link rel="stylesheet" href="/css/login_cadastro.css">
</head>
<body>
  <div class="container">

    <div class="login form">
      <header>Bem vindo(a) de volta!!</header>

      <form action="/logar" method="POST">
        <input 
        type="text" 
        name="email"
        placeholder="Email"
        required
        >

        <input 
        type="password"
        name="senha" 
        placeholder="Senha"
        required
        >

        <a href="#">Esqueceu a senha?</a>

        <button class="button">Entrar</button>
        

      </form>

      <div class="signup">
        <h6>Ainda não tem uma conta?</h6>
        <a href="/registro" class="toggle">Cadastre-se</a>
      </div>

    </div>

    
  </div>
</body>
</html>