<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cadastro/login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>


    <main>
        <div class="box">
          <div class="inner-box">
            <div class="forms-wrap">
              <form action="/login" method="POST" class="sign-in-form">
                
  
                <div class="heading">
                  <h2>Bem vindo(a) de volta!!</h2>
                  <h6>Ainda não tem uma conta?</h6>
                  <a href="#" class="toggle">Cadastre-se</a>
                </div>
  
                <div class="actual-form">
                  <div class="input-wrap">
                    <input
                      type="email"
                      minlength="4"
                      class="input-field"
                      autocomplete="off"
                      required
                    />
                    <label>Email</label>
                  </div>
  
                  <div class="input-wrap">
                    <input
                      type="password"
                      minlength="4"
                      class="input-field"
                      autocomplete="off"
                      required
                    />
                    <label>Senha</label>
                  </div>
  
                  <input type="submit" value="entrar" class="sign-btn" />
  
                  <p class="text">
                    Esqueceu sua senha ou login?
                    <a href="#">Peça ajuda</a> 
                  </p>
                </div>
              </form>
  
              <form action="/cadastrar" method="post" class="sign-up-form">
                
  
                <div class="heading">
                  <h2>Começe aqui</h2>
                  <h6>Já tem uma conta?</h6>
                  <a href="#" class="toggle">Entre aqui!</a>
                </div>
  
                <div class="actual-form">
                  <div class="input-wrap">
                    <input
                      type="text"
                      name="nome"
                      minlength="4"
                      class="input-field"
                      autocomplete="off"
                      required
                    />
                    <label>Nome</label>
                  </div>
  
                  <div class="input-wrap">
                    <input
                      type="email"
                      name="email"
                      class="input-field"
                      autocomplete="off"
                      required
                    />
                    <label>Email</label>
                  </div>
  
                  <div class="input-wrap">
                    <input
                      type="password"
                      name="senha"
                      minlength="4"
                      class="input-field"
                      autocomplete="off"
                      required
                    />
                    <label>Senha</label>
                  </div>
  
                  <input type="submit" value="cadastrar" class="sign-btn" />
  
                  <p class="text">
                    Me cadastrando, eu concordo com os
                    <a href="/terms">Termos de serviços</a> e com a
                    <a href="/privacy">Politica de privacidade</a>
                  </p>
                </div>
              </form>
            </div>
  
            <div class="carousel">
              <div class="images-wrapper">
                <img src="./img/image1.png" class="image img-1 show" alt="" />
                <img src="./img/image2.png" class="image img-2" alt="" />
                <img src="./img/image3.png" class="image img-3" alt="" />
              </div>
  
              <div class="text-slider">
                <div class="text-wrap">
                  <div class="text-group">
                    <h2>Brasil todo em um lugar só</h2>
                    <h2>Crie divulgações</h2>
                    <h2>Participe de comunidades</h2>
                  </div>
                </div>
  
                <div class="bullets">
                  <span class="active" data-value="1"></span>
                  <span data-value="2"></span>
                  <span data-value="3"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
  
      <script src="js/login.js"></script>
  
      

</body>
</html>

