<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fira+Code:wght@300&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Shrikhand&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <link rel="stylesheet" href="/css/perfil.css">
</head>
<body>


    <nav>

        <div class="container">
            <a href="/home" class="logo"><img src="/img/logo_ziuu.png" alt=""></a>
             
            <ul>
                <li><a href="/home" ><i class="uil uil-estate"></i></a></li>
                <li><a href="/divulgacao"><i class="uil uil-plus-circle"></i></a></li>
                <li><a href="/divulgacao"><i class="uil uil-comment"></i></a></li>
                
            </ul>

            <div class="cadastro">
              <a href="/perfil"><img src="img/fotodeperfil.png" alt=""></a> <!--foto-->
            </div>
            
            
        </div>


    </nav>
    <div class="container">
        <div class="left">
           
            <div class="info">
                <h3>Suas informações</h3>

                <div class="user-info">
                    <div class="icon" id="edit-icon" ><i class="uil uil-pen"></i></div>
                    <div class="table-container" id="user-table">
                        <table>
                            <!-- Inclua aqui os campos da tabela para edição -->
                        </table>
                    </div>

                    <div class="informações">
                
                    <p>Nome:</p>
                    <span><%= autenticado.autenticado%></span>
                    <p>Usuário:</p>
                    <span><%= autenticado.usuario%></span>
                    <p>Email:</p>
                    <span><%= autenticado.email%></span>

                    </div>

                    <button class="button_sair">Sair</button>
                </div>

                
            

            </div>
                <div class="outros">

                    <h3>Outros</h3>

                    <a href="">Sobre nós</a>
                    <br>
                    <a href="">Termos e condições</a>
                    <br>
                    <a href="">Politica de privacidade</a>



                </div>

        </div>


        <div class="middle">

            <div class="cabecalho">

            <img src="/img/fotodeperfil.png" alt=""> <!--foto-->
            <h3>Maria clara</h3> <!--Nome-->
            <h4 class="usuario">maria</h4><!--usuario-->
           
           

            <div class="segui">
            <h4 class="numero">1</h4>
            <h4 class="seguido">Seguidores</h4>
            </div>
            </div>

            <div class="postar">
                <form action="/postar" method="post" enctype="multipart/form-data">
                    <div>
                        <img src="" alt="">
                        <input class="usuario_divulgacao" type="text" value="" name="usuario_divulgacao" autocomplete="off" placeholder="Divulgar...">
                    </div>
                    
                    <div class="img_post">
                        <input class="img_divulgacao"  type="file" name="img_divulgacao" autocomplete="off">
                        <button>Postar</button>
                    </div>

            </div>
        </div>

        <div class="right">

            <div class="comunidades">

                    <h3>Comunidades</h3>
                    <ul>
                        <li>#artesvisuais</li>
                        <li>#musicas</li>
                        <li>#artedigital</li>
                        <li>#artesanato</li>
                        <li>#audiovisual</li>
                        
                    </ul>
                    
                  <a href="/comunidades"><input type="button" value="Ver mais"></a>

            </div>


        </div>
    </div>

    <script src="/js/perfil.js"></script>
</body>
</html>