<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arte digital</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fira+Code:wght@300&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Shrikhand&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="css/privacy.css">
    
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
    <nav>

        <div class="container">
            <a href="/home" class="logo"><img src="img/logo.png" alt=""></a>
             
            <ul>
                <li><a href="/home" >Pag. inicial</a></li>
                <li><a href="/divulgacao">Divulgaçoes</a></li>
               
                <li><a href="/">Sobre nós</a></li>
              
            </ul>

            <div class="icons">
                <a href="/login"><i class="uil uil-user-circle"></i></a>
            </div>
            
            <button id="menu-btn"><i class="uil uil-bars"></i></button>
            <button id="close-btn"><i class="uil uil-times"></i></button>
        </div>

    </nav>
        <div class="top-bar">
           <a href="/terms">Terms of Use</a>
           <a href="/privacy">Privacy Policy</a>
           
      </div>

      
    <div class="content">
        <!-- Conteúdo dos Termos de Uso -->
        <p class="animated term">Política de Privacidade
 </p>




 <p class="animated term-item"> <strong class="strong">1 - Sobre a Origem dos seus dados Pessoais</strong>
Nosso site pode coletar alguns dados pessoais seus para diferentes objetivos. Para coletarmos estes dados, dentro do nosso site você poderá preencher formulários, enviar comentários e dúvidas, entrar em contato com nossa equipe ou se cadastrar na nossa plataforma, e seus dados serão salvos
 </p> <br>




        <p class="animated term-item"> <strong class="strong"> 2 – Como e porque coletamos seus dados:</strong>
É importante que você, nosso usuário ou visitante, saiba como e quais dados pessoais coletamos e utilizamos quando você visita nosso site. Destacamos que sempre tentamos coletar o mínimo de dados possíveis para sua maior segurança, porém, alguns dados são essenciais para podermos entregar o melhor serviço possível e até para o funcionamento do site, conforme descrevemos abaixo:</p>

    <p class="animated term-item2"><strong class="strong2">Marketing:</strong> Quando você preenche formulários e se cadastra no site, você poderá receber e-mails com promoções e novidades do site. Podemos coletar nome e e-mail
    </p>

    <p class="animated term-item2"><strong class="strong2">Navegação ao site:</strong>  quando você navega pelo nosso site, coletamos automaticamente dados como o seu endereço IP, tipo de navegador, páginas acessadas, tempo gasto em cada página e outras informações.
 </p>

 <p class="animated term-item2"> <strong class="strong2">Informações de uso dos serviços: </strong> quando você usa os nossos serviços, coletamos dados sobre as suas atividades, como as pesquisas que você realiza, os vídeos que você assiste, os posts que visualiza, e a comunidade que você visita e quando você compartilha conosco fotos, comentários, sugestões, perguntas, respostas, informações, textos, arquivos, gráficos, vídeos ou outros materiais, coletamos as informações que você nos enviar.
 </p>

 <p class="animated term-item2"> <strong class="strong2">Informações de contato:</strong>  quando você entra em contato conosco, seja por e-mail, telefone ou chat, coletamos as suas informações de contato, como o seu nome, e-mail, número de telefone e a mensagem que você nos enviou.
 </p>
 <br>


        <p class="animated term-item"> <strong class="strong">3 – Sobre o uso de Cookies:</strong>
Usamos cookies no nosso website e aplicativos para melhorar a sua experiência de navegação no nosso website. Um cookie é um pequeno arquivo de texto que um site armazena no seu computador ou dispositivo móvel quando você visita o site.
Os cookies nos permitem reconhecer o seu navegador e fornecer-lhe a melhor experiência ao navegar no nosso site. Além disso, os cookies nos ajudam a compreender quais seções do site são mais interessantes para você e quais conteúdos podem ser recomendados para você, site com o google, bing ou https://gpabrasil.com.br/, utilizam cookies, e ao visitar cada um, você deve verificar a política referente a eles.
Você pode a qualquer momento bloquear os cookies no seu navegador, ou limpar o cache para retirar os mesmos.
É importante destacar que tentamos minimizar o uso de cookies não essenciais, mas utilizamos os necessários para entregar um melhor serviço, conforme a previsão de legítimo interesse na LGPD. Você pode a qualquer momento desativar os mesmos em seu navegador.
 
</p> <br>




<p class="animated term-item"><strong class="strong">4 – Com quem compartilhamos os seus dados pessoais:</strong>  quando você navega pelo nosso site, coletamos automaticamente dados como o seu endereço IP, tipo de navegador, páginas acessadas, tempo gasto em cada página e outras informações.
 </p>

 <p class="animated term-item2"><strong class="strong2">– Comunidades Online:</strong>   quando você se junta a uma das nossas comunidades online, os seus dados pessoais podem ser vistos por outros membros dessa comunidade.
 </p>

 <p class="animated term-item2"><strong class="strong2">– Postagens:</strong>   quando você visualiza e interage com publicações na aba de divulgações, os seus dados são compartilhados com o autor da postagem
Autoridades Governamentais e outras Partes: às vezes, podemos ser obrigados judicialmente a liberar ou divulgar os seus dados às autoridades governamentais, ou outras partes, conforme exigido por lei. Ou por outros motivos, como:<br>
(I) Cumprir uma obrigação legal;<br>
(II) Proteger os direitos, a propriedade ou a segurança da Página;<br>
(III) Evitar um dano real ou potencial aos bens, ou à segurança das pessoas;<br>
(IV) De outra forma, conforme permitido por lei.<br>
 </p> <br>



       <p class="animated term-item"><strong class="strong">5 - Sobre seus Direitos em relação aos Dados coletados:</strong>

O presente texto tem por objetivo esclarecer os nossos leitores e visitantes sobre quais são os seus direitos em relação aos dados pessoais.
De acordo com a Lei Geral de Proteção de Dados Pessoais (LGPD), toda pessoa tem o direito à informação, à transparência, à liberdade e à autonomia na tomada de decisões.
Com relação aos dados pessoais, a pessoa tem o direito ao acesso, à correção, à eliminação, à portabilidade, à limitação do tratamento e à oposição.
A pessoa também tem o direito de negas a qualquer momento que seus dados pessoais sejam utilizados para fins de marketing e ao recebimento de comunicações comerciais.
Para exercer os seus direitos, basta entrar em contato com a nossa equipe.
Esclarecemos que os dados pessoais são tratados de forma confidencial e que tomamos todas e quaisquer medidas de segurança necessárias para garantir a proteção dos dados.</p><br>  



        <p class="animated term-item"><strong class="strong">6 – Sobre a segurança que aplicamos no tratamento dos seus dados</strong>

A segurança é um dos pilares fundamentais da nossa política de privacidade.
Todos os dados pessoais que você fornecer ao site serão tratados com total confidencialidade e segurança, de acordo com as normas legais aplicáveis.
Para garantir a proteção dos seus dados pessoais, o site utiliza diversas medidas de segurança, como por exemplo:
Criptografia SSL (Secure Socket Layer);
Firewalls;
Sistemas de detecção de invasões;
Monitoramento constante das redes;
Uso de senhas seguras;
Verificação periódica da segurança dos sistemas.
Todas as informações pessoais são armazenadas em servidores seguros, protegidos contra acessos não autorizados, utilizando os mais modernos e avançados sistemas de segurança.
Nossa equipe de segurança está constantemente monitorando os sistemas e atualizando as medidas de proteção, para garantir que seus dados estejam sempre seguros.
Caso você tenha alguma dúvida ou preocupação em relação à segurança dos seus dados pessoais, entre em contato conosco.</p> <br>




        <p class="animated term-item"><strong>7 - Pedido de modificação, remoção ou alteração:</strong>
Entendemos que você possa, eventualmente, querer modificar, remover ou alterar seus dados pessoais.
Se você deseja fazer uma alteração, uma remoção ou uma modificação, entre em contato conosco e nós faremos o possível para atender à sua solicitação. No entanto, tenha em mente que, em alguns casos, pode não ser possível atender à sua solicitação, especialmente se for necessária para cumprir nossas obrigações legais ou contratuais.
Além disso, lembre-se de que, se você solicitar a remoção de seus dados pessoais dos nossos bancos de dados, isso pode afetar o uso de nosso site e serviços. Se você não puder fazer uma alteração ou uma modificação, ou se desejar excluir seus dados pessoais, entre em contato conosco para podermos discutir outras opções, clicando na aba contato.
8. Quais dados coletamos sobre você e para qual finalidade?
Nosso site coleta e utiliza alguns dados pessoais seus, de forma a viabilizar a prestação de serviços e aprimorar a experiência de uso.
Dados pessoais fornecidos pelo titular
Email
Nome de usuário
Senha (usada exclusivamente no site)
Esses dados são utilizados para cadastrar o usuário</p>
      <br>



      <p class="animated term-item"><strong>8. Quais dados coletamos sobre você e para qual finalidade?:</strong>
Nosso site coleta e utiliza alguns dados pessoais seus, de forma a viabilizar a prestação de serviços e aprimorar a experiência de uso.
Dados pessoais fornecidos pelo titular
Email
Nome de usuário
Senha (usada exclusivamente no site)
Esses dados são utilizados para cadastrar o usuário
</p>
<p class="animated term-item2"><strong class="strong2">– Como coletamos os seus dados?:</strong>   Nesse sentido, a coleta dos seus dados pessoais ocorre no preenchimento do Formulário de cadastro.</p>
      <br>

      <p class="animated term-item"><strong>9 - Consentimento:</strong>
É a partir do seu consentimento que tratamos os seus dados pessoais. O consentimento é a manifestação livre, informada e inequívoca pela qual você autoriza a (nome empresarial simplificado) a tratar seus dados.
Assim, em consonância com a Lei Geral de Proteção de Dados, seus dados só serão coletados, tratados e armazenados mediante prévio e expresso consentimento.
O seu consentimento será obtido de forma específica para cada finalidade acima descrita, evidenciando o compromisso de transparência e boa-fé da (nome empresarial simplificado) para com seus usuários/clientes, seguindo as regulações legislativas pertinentes.
Ao utilizar os serviços da (nome empresarial simplificado) e fornecer seus dados pessoais, você está ciente e consentindo com as disposições desta Política de Privacidade, além de conhecer seus direitos e como exercê-los.
A qualquer tempo e sem nenhum custo, você poderá revogar seu consentimento.
É importante destacar que a revogação do consentimento para o tratamento dos dados pode implicar a impossibilidade da performance adequada de alguma funcionalidade do site que dependa da operação. Tais consequências serão informadas previamente.</p>
      <br>

    






 
    


    
    <script src="js/privacy.js"></script>
</body>
</html>