<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>

    <div class="container">
        <div class="registration form">
            <header>Começe aqui</header>
            <form action="/cadastrar" method="POST">
      
              <input 
              type="text" 
              name="nome"
              placeholder="Nome"
              required
              >
      
              <input 
              type="text" 
              name="email"
              placeholder="Email"
              required
              >
      
              <input 
              type="text" 
              name="usuario"
              placeholder="Usuário"
              required
              >
      
              <input 
              type="password" 
              name="senha"
              placeholder="Senha"
              required
              >

              <p class="text">
                Me cadastrando, eu concordo com os
                <a href="/terms">Termos e condições</a> e com a
                <a href="/privacy">Politica de privacidade</a>
              </p>
             
              <button class="button">Cadastrar</button>
            </form>
      
            <div class="signup">
              <h6>Já tem uma conta?</h6>
              <a href="/login" class="toggle">Entre aqui!</a>
            </div>
          </div>
    </div>
    
</body>
</html>