<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arte digital</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Fira+Code:wght@300&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800&family=Shrikhand&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="css/terms.css">
    
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
    <nav>

        <div class="container">
            <a href="/home" class="logo"><img src="img/logo.png" alt=""></a>
             
            <ul>
                <li><a href="/home" >Pag. inicial</a></li>
                <li><a href="/divulgacao">Divulgaçoes</a></li>
            
                <li><a href="/">Sobre nós</a></li>
            
            </ul>

            <div class="icons">
                <a href="/login"><i class="uil uil-user-circle"></i></a>
            </div>
            
            <button id="menu-btn"><i class="uil uil-bars"></i></button>
            <button id="close-btn"><i class="uil uil-times"></i></button>
        </div>

    </nav>
        <div class="top-bar">
           <a href="/terms">Terms of Use</a>
           <a href="/privacy">Privacy Policy</a>
      </div>


       <div class="content">
        <!-- Conteúdo dos Termos de Uso -->
        <h2>Bem-vindo ao Ziuu!</h1><br>
        <p class="animated term">1. Uso do site</p>
        <p class="animated term-item">1.1. Este site foi criado e desenvolvido com a função de divulgar artistas brasileiros e conectar amante da arte nacional. O Ziuu busca através da criação de conteúdo de alta qualidade, desenvolvido por profissionais da área, trazer o conhecimento ao alcance de todos, assim como a divulgação dos próprios serviços.</p>
        <p class="animated term-item">1.2. Nesta plataforma, poderá ser realizado tanto a divulgação de material original de criação artística de qualidade por usuários profissionais, tanto a criação de comunidades que reúne entusiastas.</p>
        <p class="animated term-item">1.3. Todo o conteúdo é atualizado periodicamente, porém, pode conter em algum artigo, vídeo ou imagem, alguma informação que não reflita a verdade atual, não podendo o Ziuu ser responsabilizada de nenhuma forma ou meio por qualquer conteúdo que não esteja devidamente atualizado.</p>
        <p class="animated term-item">1.4. É de responsabilidade do usuário de usar todas as informações presentes no site com senso crítico, utilizando apenas como fonte de informação, e sempre buscando especialistas da área para a solução concreta do seu conflito.</p>
      
        <!-- termo 2 -->
        <br>
        <p class="animated term">2. DO ACEITE DOS TERMOS</p>
        <p class="animated term-item">2.1. Este documento, chamado “Termos de Uso”, aplicáveis a todos os usuários do site, foi desenvolvido por Diego Castro Advogado – OAB/PI 15.513, modificado com permissão para este site. </p>
        <p class="animated term-item">2.2. Este termo especifica e exige que todo usuário ao acessar o site do Ziuu, leia e compreenda todas as cláusulas do mesmo, visto que ele estabelece entre O Ziuu e o USUÁRIO direitos e obrigações entre ambas as partes, aceitos expressamente pelo USUÁRIO a permanecer navegando no site do Ziuu.</p>
        <p class="animated term-item">2.3. Ao continuar acessando o site, o usuário expressa que aceita e entende todas as cláusulas, assim como concorda integralmente com cada uma delas, sendo este aceite imprescindível para a permanência na mesma. Caso o usuário discorde de alguma cláusula ou termo deste contrato, o mesmo deve imediatamente interromper sua navegação de todas as formas e meios.
</p>
        <p class="animated term-item">2.4. Este termo pode e irá ser atualizado periodicamente pela equipe Ziuu, que se resguarda no direito de alteração, sem qualquer tipo de aviso prévio e comunicação. É importante que o usuário confira sempre se houve movimentação e qual foi a última atualização do mesmo no começo da página.</p>
        
         <!-- termo 3 -->
        <br>
        <p class="animated term">3. DO ACESSO AO SITE</p>
        <p class="animated term-item">3.1. O Site e plataforma funcionam normalmente 24 (vinte e quatro) horas por dia, porém podem ocorrer pequenas interrupções de forma temporária para ajustes, manutenção, mudança de servidores, falhas técnicas ou por ordem de força maior, que podem deixar o site indisponível por tempo limitado.</p>
        <p class="animated term-item">3.2. O ZIUU não se responsabiliza por nenhuma perda de oportunidade ou prejuízos que esta indisponibilidade temporária possa gerar aos usuários.</p>
        <p class="animated term-item">3.3. Em caso de manutenção que exigirem um tempo maior, O Ziuu irá informar previamente aos clientes da necessidade e do tempo previsto em que o site ou plataforma ficará offline.
 </p>
        <p class="animated term-item">3.4. Caso seja necessário realizar um cadastro junto a plataforma, onde o USUÁRIO deverá preencher um formulário com seus dados e informações, para ter acesso a alguma parte restrita, ou realizar alguma compra.</p>

        <p class="animated term-item">3.5. Todos os dados estão protegidos conforme a Lei Geral de Proteção de Dados, e ao realizar o cadastro junto ao site, o USUÁRIO concorda integralmente com a coleta de dados conforme a Lei e com a Política de Privacidade do Ziuu.</p>

        
        
 <!-- termo 3 -->
<br>        
        <p class="animated term">4. DA LICENÇA DE USO E CÓPIA</p>
        <p class="animated term-item">4.1. O usuário poderá acessar todo o conteúdo do website, como artigos, vídeos, imagens, produtos e serviços, não significando nenhum tipo de cessão de direito ou permissão de uso, ou de cópia dos mesmos.</p>
        <p class="animated term-item">4.2. Todos os direitos são preservados, conforme a legislação brasileira, principalmente na Lei de Direitos Autorais (regulamentada na Lei nº 9.510/18), assim como no Código Civil brasileiro (regulamentada na Lei nº 10.405/02), ou quaisquer outras legislações aplicáveis.
 </p>
        <p class="animated term-item">4.3. Todo o conteúdo do site é protegido por direitos autorais, e seu uso, cópia, transmissão, venda, cessão ou revenda, deve seguir a lei brasileira, tendo os criadores de conteúdo todos os seus direitos reservados, e não permitindo a cópia ou utilização de nenhuma forma e meio, sem autorização expressa e por escrita da mesma.</p>
        <p class="animated term-item">4.4. Os criadores de conteúdo poderão em casos concretos permitir pontualmente exceções a este direito, que serão claramente destacados no mesmo, com a forma e permissão de uso do conteúdo protegido. Este direito é revogável e limitado as especificações de cada caso.</p>
        
 <!-- termo 4 -->
<br>
        <p class="animated term">5. DAS OBRIGAÇÕES</p>
        <p class="animated term-item">5.1. O Usuário ao utilizar o website da Ziuu, concorda integralmente em:

         <strong> • </strong> nenhuma forma ou meio realizar qualquer tipo de ação que tente invadir, hacker, destruir ou prejudicar a estrutura do site, plataforma da Ziuu ou de seus parceiros comerciais. Incluindo-se, mas não se limitando, ao envio de vírus de computador, de ataques de DDOS, de acesso indevido por falhas da mesma ou quaisquer outras forma e meio.
           <strong> • </strong> De não realizar divulgação indevida nos comentários do site de conteúdo de SPAM, empresas concorrentes, vírus, conteúdo que não possua direitos autorais ou quaisquer outros que não seja pertinente a discussão daquele texto, vídeo ou imagem.
           <strong> • </strong> Da proibição em reproduzir qualquer conteúdo do site ou plataforma sem autorização expressa, podendo responder civil e criminalmente pelo mesmo.
           <strong> • </strong> Com a Política de Privacidade do site, assim como tratamos os dados referentes ao cadastro e visita no site, podendo a qualquer momento e forma, requerer a exclusão dos mesmos, através do formulário de contato.
        </p>


      
  <br>
        <p class="animated term">6. DA MONETIZAÇÃO E PUBLICIDADE</p>
        <p class="animated term-item">6.1. O ZIUU pode alugar ou vender espaços publicitários na plataforma, ou no site, diretamente aos anunciantes, ou através de empresas especializadas com o Adsense (Google).
        </p>
        <p class="animated term-item">6.2. Essas publicidades não significam nenhuma forma de endosso ou responsabilidade pelos mesmos, ficando o USUÁRIO responsável pelas compras, visitas, acessos ou quaisquer ações referentes as estas empresas.</p>
        <p class="animated term-item">6.3. Todas as propagandas no site ou plataforma serão claramente destacadas como publicidade, como forma de disclaimer do Ziuu e de conhecimento do USUÁRIO.</p>
        <p class="animated term-item">6.4. Estes anúncios podem ser selecionados pelo Ziuu de publicidade automaticamente, conforme as visitas recentes do USUÁRIO, assim como baseado no seu histórico de busca, conforme as políticas de acesso da plataforma.</p>

          
  <br>
        <p class="animated term">7. DOS TERMOS GERAIS</p>
        <p class="animated term-item">7.1 O Site irá apresentar hiperlinks durante toda a sua navegação, que podem levar diretamente para outra página do Ziuu ou para sites externos.
        </p>
        <p class="animated term-item">7.2. Apesar do Ziuu apenas criar links para sites externos de extrema confiança, caso o usuário acesse um site externo, O Ziuu e o criador do conteúdo não tem nenhuma responsabilidade pelo meio, sendo uma mera indicação de complementação de conteúdo, ficando o mesmo responsável pelo acesso, assim como sobre quaisquer ações que venham a realizar neste site.</p>
        <p class="animated term-item">
7.3. Em caso que ocorra eventuais conflitos judiciais entre o USUÁRIO e O Ziuu, o foro elegido para a devida ação será o da comarca do Ziuu, mesmo que haja outro mais privilegiado.</p>
        <p class="animated term-item">7.4. Este Termo de uso é valido a partir de 17 de outubro de 2023.</p>
        













    </div>  


 
    


    
    <script src="js/terms.js"></script>
</body>
</html>