<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>

    <link rel="stylesheet" href="/css/update.css">
</head>
<body>
    <div class="container">
        <div class="registration form">
            <header>Atualize seus dados</header>
            <form action="/perfil" method="POST" enctype="multipart/form-data">
      
              <input 
              type="text" 
              name="nome"
              class=""
              value="<%=autenticado.nome%>"
              placeholder="Nome"
              
              >
              
              <input 
              type="text" 
              name="usuario"
              class=""
              value="<%=autenticado.usuario%>"
              placeholder="Usuário"
             
              >


              <input 
              type="text" 
              name="email"
              class=""
              value="<%=autenticado.email%>"
              placeholder="Email"
            
              >

              <div class="senha" id="all-in">
                <label for="">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="Alterar senha">
                <span class="aviso">(Não preencher para manter a senha atual)</span>
              </div>   
             
              <label for="">Foto de perfil</label>
              <input class="img" type="file" name="img_usuario" autocomplete="off">
              <img class="img-perfil" id="img-preview" src="<%= autenticado.img_usuario %>">
             
              <button class="button">Atualizar</button>
            </form>
      
            
          </div>
    </div>
    
</body>
</html>