<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update</title>

    <link rel="stylesheet" href="/css/update.css">
</head>
<body>
    <div class="container">
        <div class="registration form">
            <header>Atualize seus dados</header>
            <form action="" method="POST">
      
              <input 
              type="text" 
              name="nome"
              class=""
              placeholder="Nome"
              
              >
              
              <input 
              type="text" 
              name="usuario"
              class=""
              placeholder="Usuário"
             
              >


              <input 
              type="text" 
              name="email"
              class=""
              placeholder="Email"
            
              >
             
              <input class="img" type="file" name="" autocomplete="off">
             
              <button class="button">Atualizar</button>
            </form>
      
            
          </div>
    </div>
    
</body>
</html>